<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{{ url_for('static', filename='img/orbit_logo.jpg') }}" type="image/x-icon" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlfaNevbulyzer</title>
  <!-- Materialize css plugin -->
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Link CSS -->
  <link rel="stylesheet" href="static/style.css">
  <!-- Impor Font google -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- Animate CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <!-- Aos  -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
  <!-- expand_less -->
  <a id="button" class="material-icons exp">expand_less</a>
  <!-- Navbar -->
  <section id="Navbar">
    <div class="navbar-fixed ">
      <nav class="navbar">
        <div class="nav-wrapper container">
          <a href="{{ url_for('index') }}"class="brand-logo">NevBulyzer</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <div class="brand-logo center">
            <ul class="hide-on-med-and-down ">
              <li><a class="navres" href="#Hero">Intermezo</a></li>
              <li><a class="navres" href="#Base">Base Case</a></li>
              <li><a class="navres" href="#Proyek">Real Case</a></li>
              <li><a class="navres" href="#Team">Our Team</a></li>
              <li><a class="navres" href="#Kontak">Kontak</a></li>
            </ul>
          </div>
          <ul class="right hide-on-med-and-down">
            <li><a class="navres waves-effect waves-light btn" href="https://www.bing.com/ck/a?!&&p=267fb6dd78f38626JmltdHM9MTY3MDExMjAwMCZpZ3VpZD0zZjgwNjAxMi02MTUxLTY4NzYtMGY2OS03MTc1NjA2NDY5ZmYmaW5zaWQ9NTE2OA&ptn=3&hsh=3&fclid=3f806012-6151-6876-0f69-7175606469ff&psq=ORBIT+VENTURAN&u=a1aHR0cHM6Ly9vcmJpdGZ1dHVyZWFjYWRlbXkuaWQv&ntb=1">ORBIT Future Academy</a></li>
          </ul>
        </div>
    </div>

    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li><a href="#Hero">Intermezo</a></li>
      <li><a href="#Base">Base Case</a></li>
      <li><a href="#Proyek">Real Case</a></li>
      <li><a href="#Team">Our Team</a></li>
      <li><a href="#Kontak">Kontak</a></li>
      <li><a class="waves-effect waves-light btn" href="https://www.bing.com/ck/a?!&&p=267fb6dd78f38626JmltdHM9MTY3MDExMjAwMCZpZ3VpZD0zZjgwNjAxMi02MTUxLTY4NzYtMGY2OS03MTc1NjA2NDY5ZmYmaW5zaWQ9NTE2OA&ptn=3&hsh=3&fclid=3f806012-6151-6876-0f69-7175606469ff&psq=ORBIT+VENTURAN&u=a1aHR0cHM6Ly9vcmJpdGZ1dHVyZWFjYWRlbXkuaWQv&ntb=1">ORBIT Future Academy</a></li>
    </ul>
  </section>
  <!-- End Navbar -->
  <!-- Hero -->
  <section id="Hero">
    <div class="container animate__animated animate__fadeInDown">
      <div class="section">
        <div class="row">
          <div class="col s12 m6 t1"><span class="flow-text"><img src="static/img/awal1.jpg" alt="Cyberbullying"
                class="t1"></span></div>
          <div class="col s12 m6 t2"><span class="flow-text jweb">Information About Cyberbullying</span>
            <p class="dweb">
              <i>Hate Speech</i> atau ujaran kebencian dipahami sebagai segala
              jenis komunikasi dalam bentuk ucapan, tulisan, maupun perilaku yang
              menyerang atau menggunakan bahasa merendahkan atau diskriminatif.
              Kasus <i>hate speech</i> sangat sering kita jumpai di media sosial.
            </p>

            <a class="navres waves-effect waves-light btn about" href="#Base">Abusive Language <i
                class="small material-icons panah"> arrow_forward</i>
            </a>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->
  <!-- Base Case -->
  <section id="Base" class="container" data-aos="fade-up"  data-aos-duration="3000">
    <center>
      <h2 class="ame">
        Abusive Language
      </h2>
    </center>
    <p class="kame">
      <i>Abusive Language</i> atau bahasa kasar yang dimaksudkan untuk
      merendahkan, menghina, mengejek, menghina, atau meremehkan yang
      mungkin tidak didasarkan pada aktual atau yang dirasakan ras, warna,      
      agama, jenis kelamin, asal kebangsaan, orientasi seksual, atau
      identitas gender dari seorang individu.
    </p>

    <center>
      <p class="lame">
      </p>
    </center>
  </section>
  <!-- End Base Case -->
  
  <!-- Real Case -->
  <section id="Proyek">
    <center class="container">
      <h2 class="jCase" data-aos="zoom-in-up" data-aos-duration="2000"> Real Case </h2>
      <div class="row">

        <!-- Card 1 -->
        <div class="col s12 m6 l3 kartu" data-aos="zoom-in-up" data-aos-duration="2000">
          <div class="card kartu">
            <div class="card-image">
              <img src="static/img/cyber.jpeg">
            </div>
            <div class="card-content">
              <p>Kasus cyber bullying yang menyebabkan bunuh diri </p>
            </div>
            <div class="card-action">
              <a href="https://www.hipwee.com/hiburan/5-kasus-cyber-bullying-yang-berujung-bunuh-diri-perundungan-emang-nggak-bisa-diremehkan/" target="popup">View Article</a>
            </div>
          </div>
        </div>
        <!-- End Card 1 -->
        <!-- Card 2 -->
        <div class="col s12 m6 l3" data-aos="zoom-in-up" data-aos-duration="2000">
          <div class="card kartu">
            <div class="card-image">
              <img src="static/img/cyber1.jpeg">
            </div>
            <div class="card-content">
              <p>How Cyberbullying Affects Your Teen's Academic Performance</p>
            </div>
            <div class="card-action">
              <a href="https://www.psychologytoday.com/au/blog/shame-nation/202211/how-cyberbullying-affects-your-teens-academic-performance" target="popup">View Article</a>
            </div>
          </div>
        </div>
        <!-- End Card 2 -->
        <!-- Card 3 -->
        <div class="col s12 m6 l3" data-aos="zoom-in-up" data-aos-duration="2000">
          <div class="card kartu">
            <div class="card-image">
              <img src="static/img/cyber2.jpeg">
            </div>
            <div class="card-content">
              <p>Cyberbullying, Static and Facts</p>
            </div>
            <div class="card-action">
              <a href="https://www.statista.com/topics/1809/cyber-bullying/" target="popup">View Article</a>
            </div>
          </div>
        </div>
        <!-- End Card 3 -->
        <!-- Card 4 -->
        <div class="col s12 m6 l3 " data-aos="zoom-in-up" data-aos-duration="2000">
          <div class="card kartu">
            <div class="card-image">
              <img src="static/img/cyber3.png">
            </div>
            <div class="card-content">
              <p> Cyberbullying dikalangan remaja dan anak - anak</p>
            </div>
            <div class="card-action">
              <a href="https://www.antaranews.com/berita/2431825/korban-cyberbullying-kian-meningkat-di-kalangan-anak-anak-dan-remaja" target="popup">View Article</a>
            </div>
          </div>
        </div>

        <!-- End Card -->
      </div>
      <a href="https://www.bing.com/news/search?q=Cyberbullying+kasus+nyata&qs=n&form=QBNT&sp=-1&pq=cyberbullying+kasus+nyata&sc=0-25&sk=&cvid=2E259D5DDFFD414B970A866DC3064BF4&ghsh=0&ghacc=0&ghpl=" class="waves-effect waves-light btn-small" data-aos="fade-up" data-aos-duration="1000">View More</a>

    </center>
  </section>
  <!-- End Real Case -->

  <!-- Our Team -->
  <section id="Team" >
    <center class="container"  data-aos="zoom-out" data-aos-duration="3000">
      <h2 class="jteam">Member AlphaNevbulyzer</h2>
      <div class="column">
        <div class="card">
          <img src="static/img/rohim.jpg" alt="Rohim" style="width:100%">
          <div class="containerteam">
          <p>Muhammad Abdurrohim</p>
          <p class="titleteam">Back end</p>
          <p>Universitas Catur Insan Cendekia Cirebon</p>
          <p>mrohim@gmail.com</p>
          <p><button class="buttonteam">Contact</button></p>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="column">
          <div class="card">
          <img src="static/img/zeri.jpg" alt="Zeri" style="width:100%">
          <div class="containerteam">
            <p>Zeri Nurtilia</p>
            <p class="titleteam">Front end</p>
            <p>Universitas Lampung</p>
            <p>zerinurtiliaa@gmail.com</p>
            <p><button class="buttonteam">Contact</button></p>
          </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
          <img src="static/img/imel.jpg" alt="Imel" style="width:100%">
          <div class="containerteam">
            <p>Imelda Rara Rahmawati</p>
            <p class="titleteam">Data Analyst</p>
            <p>Universitas Pendidikan Indonesia Bandung</p>
            <p>imeldarara@gmail.com</p>
            <p><button class="buttonteam">Contact</button></p>
          </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
          <img src="static/img/rena.jpeg" alt="Renata" style="width:100%">
          <div class="containerteam">
            <p>Renata Adisti Pratiwi</p>
            <p class="titleteam">Front end</p>
            <p>Universitas Lampung</p>
            <p>renataadisti@gmail.com</p>
            <p><button class="buttonteam">Contact</button></p>
          </div>
          </div>
        </div>
    
        <div class="column">
        <div class="card">
          <img src="static/img/naban.jpg" alt="Nabhan" style="width:100%">
          <div class="containerteam">
          <p>Mochammad Rois Nabhan</p>
          <p class="titleteam">Data Analyst</p>
          <p>Universitas Pendidikan Indonesia Bandung</p>
          <p>mrois@gmail.com</p>
          <p><button class="buttonteam">Contact</button></p>
          </div>
        </div>
        </div>
      </div>
    </center>

  </section>
  <!-- End Our Team -->

  <!-- Kontak -->
  <section id="Kontak">
    <footer class="container" >
      <div class="row">
        <div class="col s12 m6 l6">
          <h2 class="jkontak">
            Kontak
          </h2>
          <P class="garis"></P>
          <p class="ket">
            Anda bisa menghubungi Kami melalui<span class="ketbwh">
              email yang tersedia dibawah ini :</span>
          </p>
          <div class="gkontak">
            <img src="static/img/Mail.png" alt="Mail Logo" class="lemail">
            <div class="ekontak">
              <p> Email
              </p>
              <p>
                fulanbinfulan@gmail.com
              </p>
            </div>

          </div>
        </div>
        <div class="col s12 m6 l6">
          <p class="skontak">“Berikan pesan kepada Kami
            agar Kami dapat berinteraksi
            dengan anda sekaligus belajar banyak hal dengan anda.” </p>

        </div>


      </div>
      <div class="footer-copyright">
        <center>
          @Made by AlfaNevbulyzer Team
        </center>
      </div>
    </footer>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="static/app.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>